<mat-card>
  <form [formGroup]="filterGroup">
    <div class="box-items">
      <mat-form-field appearance="fill">
        <mat-label>Device Name</mat-label>
        <input matInput formControlName="deviceName" placeholder="Name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Device Type</mat-label>
        <mat-select formControlName="deviceType">
          <mat-option value="TEMPERATURE_SENSOR">Temperature-Sensor</mat-option>
          <mat-option value="LIGHT_SENSOR">Light-Sensor</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate formControlName="startDate" placeholder="Start date">
          <input matEndDate formControlName="endDate" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="clearForm()">Clear</button>
      <mat-slide-toggle color="primary" formControlName="enableLiveMode" (click)="toggle()">
        Live Mode
      </mat-slide-toggle>
    </div>
  </form>
</mat-card>
